/* Allmänna inställningar */
body {
    margin: 0;
    font-family:'Roboto', Sans-serif Italic;
    color: #333;
    background: #f0f4f8; /* Ljus bakgrund */
    height: 100%;
    overflow-x: hidden; /* Förhindra horisontell scroll */
}

header {
    background-color: #005f99; /* Mörk blå bakgrund */
    padding:1%;
    text-align:center;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    color: #ffffff; /* Vit textfärg */
    margin:0px;
    margin-bottom:17px;
    font-size:38px;
}

header nav a {
    color: #fdfcfc; /* Vit textfärg */
    text-decoration: none;
    padding: 8px 15px;
    font-size: 30px;
    transition: background-color 0.4s;
}

header nav a:hover {
    background-color: #007acc; /* Ljusare blå vid hovring */
    border-radius: 4px;
}

footer {
    background-color: #005f99;
    text-align: end;
    padding: 15px;
    color: #ece9e9;
    margin-top: 20px;
    border-radius: 8px;
}
main {
    padding: 20px;
    color: #3333;
    max-width: 900px;
    margin: 0 auto;
    background: #ffffff; /* Vit bakgrund för main-innehåll */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #090909; /* Djupblå färg för rubriker */
}

p {
    color: #060101; /* Mörkare textfärg för bättre läsbarhet */
}

a {
    color: #0288d1; /* Klar blå färg för länkar */
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #01579b;
}

/* Team section styles */
.team-section {
    margin-bottom: 50px;
}

.team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Avstånd mellan team-medlemmar */
}

.team-member {
    background-color: #ffffff; /* Vit bakgrund för teammedlemmar */
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    width: 120px; /* Mindre storlek på teammedlemselement */
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.team-member img {
    width: 100px; /* Mindre bildstorlek */
    height: 100px; /* Justera höjd för att matcha bredd */
    border-radius: 50%;
    border: 2px solid #0277bd; /* Blå kant runt bilderna */
}

.team-member h3 {
    margin-top: 10px;
    color: #0c92df; /* Blå färg för namn */
}

.team-member:hover {
    transform: scale(1.05);
}


/* Responsiv design för mindre skärmar */
@media screen and (max-width: 768px) {
    .team-member {
        width: 100px;
    }

    .team-member img {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 480px) {
    .team-member {
        width:50px;
    }

    .team-member img {
        width: 60px;
        height: 60px;
    }
}


