/* Allmänna inställningar */
body {
    font-family: 'Roboto', Sans-serif Italic;
    margin: 0;
    padding: 0;
    background-color: #e6f2ff; /* Ljusblå bakgrundsfärg */
    color: #010000;
}

header {
    background: linear-gradient(135deg, #005f99, #007acc);
    padding: 2%;
    text-align: center;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: backgroundAnimation 10s infinite alternate;
    background-size: 400% 400%;
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

header h1 {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    opacity: 0;
    animation: fadeInText 3s forwards;
}

@keyframes fadeInText {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

header nav a {
    color: #fdfcfc;
    text-decoration: none;
    padding: 8px 15px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    transition: color 0.4s;
}

header nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #fdfcfc;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

header nav a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

header nav a:hover {
    color: #fff;
    transform: scale(1.1);
}

.cta {
    background-color: #007acc;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    animation: pulse 2s infinite;
}

.cta:hover {
    background-color: #005f99;
    transform: scale(1.1);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}


/* Justerar huvudsektionen för att undvika överlappning med headern */
main {
    margin-top: 6px;
    padding: 20px;
}

/* Weather section styles */
.weather-section {
    background-color: #cbdeee; /* Mycket ljusblå bakgrund */
    padding: 30px 20px;
    text-align: center;
    border-radius: 8px;
    margin: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.moving-text {
    font-size: 30px;
    font-weight: bold;
    color: #007acc; /* Stark blå färg */
    animation: moveText 3s infinite alternate;
}

@keyframes moveText {
    0% { color: #007acc; }
    100% { color: #005f99; }
}

/* Input field styling */
input[type="text"] {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #007acc;
    border-radius: 5px;
    margin: 10px 0;
}

/* Loader styling */
#loader {
    font-size: 18px;
    margin: 20px 0;
    color: #007acc;
}

/* Button styling */
button {
    padding: 10px 20px;
    background-color: #007acc; /* Ljusblå för knappar */
    color: #ffffff; /* Vit textfärg */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005f99; /* Mörkare blå vid hovring */
}

/* Favorite cities section */
#favorites {
    background-color: #cbdeee;; /* Ljusblå för favoriter */
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#favorites h2 {
    color: #007acc;
    margin-bottom: 15px;
}

#favorites-list {
    list-style-type: none;
    padding: 0;
    color: #007acc;
}

#favorites-list li {
    padding: 10px;
    background-color: #cbdeee;; /* Ljusblå för listobjekt */
    margin: 5px 0;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#favorites-list li:hover {
    background-color: #e1e5e9; /* Lite mörkare vid hovring */
    padding: 15px;
}


#about {
    background-color: #cbdeee;; /* Ljusblå bakgrund */
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    color: #0a0a0a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#about h2 {
    margin-bottom: 15px;
    color: #007acc;

}



footer {
    background-color: #005f99;
    text-align: end;
    padding: 1px;
    color: #ece9e9;
    margin-top: 20px;
    border-radius: 8px;
}

/* Responsiv design för mindre skärmar */
@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
    }

    input[type="text"] {
        width: 100%;
    }
    button {
        padding: 7px 17px;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        max-width: 50%;
    }

    .moving-text {
        font-size: 24px;
    }

    button {
        padding: 8px 16px;
        font-size: 10px;
    }
}



