/* Se till att main täcker hela skärmen */


body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
    overflow: hidden;
    height: 100vh;
    background-color: #ffffff;
    background-size:cover ;
    animation: backgroundAnimation 20s infinite; /* 30s är total längd för animeringen */
}





main {
    height: 100vh; /* Gör att main täcker hela skärmen */
    position: relative; /* Behövs för att placera .container ovanpå bilden */
}

 
/*
@keyframes wind-move {
    0% { left: -20%; opacity: 0; }
    50% { left: 50%; opacity: 0.5; }
    100% { left: 120%; opacity: 0; }
}
 
/*.wind {
    position: absolute;
    top: 40%;
    left: -20%;
    width: 200px;
    height: 2px;
    background: #908b8b;
    opacity: 0.5;
    box-shadow: 0 0 10px #ebe5e5;
    animation: wind-move 5s linear infinite;
}*/
 
 
header {
    background-color: rgba(246, 247, 249, 0.7);
     height:110px ;
   
    
}
 
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.header-image{
    height: 100%;
    width: 100%;
}


nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
 
 
@keyframes floatEffect {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}
 
.moving-text {
    animation: floatEffect s ease-in-out infinite;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
 
 
section {
    padding:10rem;
}
 
.weather-section {
    text-align:center;
    padding: 0.2rem;

  
}
 
.container {
    max-width: 30%;  /* Behåller en proportionell maxbredd */
    margin: auto;
    margin-top: 5%;
    background-color: rgba(0, 31, 84, 0.7);
    border-radius: 5px;
    padding:10px;  /* Lägg till lite padding för inre utrymme */
}

 
footer {
    background-color: rgba(0, 31, 84, 0.7);
    text-align: right;
    padding: 0rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6%;
}
 
 
input[type="text"] {
    padding: 0.4rem;
    border:3px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width:70%;
}
 
button {
    padding: 0.4rem 1rem;
    background-color: #0978ef;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 6px;
    margin-bottom:6px ;
   
}
 
button:hover {
    background-color: #0056b3;
}
 


@media screen and (max-width: 1024px) {
    .container {
        max-width:50%;
        padding: 1rem;
    }

    .moving-text {
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 50%;
        padding: 1rem;
        margin-top: 10%;
    }

    .moving-text {
        font-size: 1.5rem;
    }

    input[type="text"] {
        width: calc(100% - 110px);
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 480px) {
    .container {
        max-width: 50%;
        padding: 1rem;
    }

    .moving-text {
        font-size: 1.2rem;
    }

    input[type="text"] {
        width: calc(100% - 90px);
    }

    button {
        padding: 0.5rem 0.8rem;
    }
}

@media screen and (max-width: 320px) {
    .container {
        max-width: 70%;
        padding: 0.5rem;
        margin-top: 10%;
    }

    .moving-text {
        font-size: 1rem;
    }

    input[type="text"] {
        width: calc(100% - 80px);
    }

    button {
        padding: 0.4rem 0.6rem;
    }
}